@media (max-width: 768px) {

    header {
        padding: 40px 10px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    nav {
        padding: 10px;
    }

    nav a {
        display: inline-block;
        margin: 8px;
        font-size: 14px;
    }

    section {
        margin: 10px;
        padding: 25px 15px;
    }

    ul li {
        width: 100%;
    }

    .profile-pic {
        width: 120px;
        height: 120px;
    }
}

nav {
    position: sticky;
    top: 0;
    background: #020617;
    padding: 15px;
    text-align: end;
    z-index: 1000;
}

nav a {
    color: #2563eb;
    margin: 0 5px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: white;
    text-align: center;
}

header {
    padding: 60px 20px;
    background: linear-gradient(90deg, #2563eb, #1e40af);
}

section {
    padding: 40px 20px;
}

h1, h2 {
    color: #38bdf8;
}
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #1e293b;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}

footer {
    padding: 20px;
    background-color: #020617;
    font-size: 14px;
}

.profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid #38bdf8;
    margin-bottom: 15px;
    object-fit: cover;
}

.profile-pic {
    animation:fadeUp 5s ease forwards ;
}

section {
    animation: fadeUp 3s ease forwards;
}

@keyframes fadeUp {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

ul li {
    transition: transform 0.3s, background 0.3s;
}

ul li:hover {
    transform: scale(1.05s);
    background: #2563eb;
}

section {
    background: #020617;
    margin: 20px;
    border-radius: 10px;
}

button {
    background: #2563eb;
    border-radius: 140px;  
}

button:hover {
    transform: scale(1.05s);
    background-color: red;
}

footer {
    background: #020617;
    padding: 30px 15px;
    text-align: center;
    font-size: 14px;
}

footer a {
    color: #38bdf8;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: white;
}

.tagline {
    margin: 10px 0;
    font-style: italic;
    color: #94a3b8;
}

.footer-links, .socials {
    margin-top: 10px;
}
